.loading {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid yellow;
    border-left: 16px solid palevioletred;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    margin: auto;
    text-align: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }