
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------CSS RESET-------------------- */

body {
  background-color: #FF1E00;
}

h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
  text-align: left;
  padding: 2rem 1rem;
  color: #E8F9FD;
}

h2 {
  font-size: 1.3rem;
  padding: 0rem 1rem;
  text-align: left;  
  color: #E8F9FD;
}

h4 {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.App {
  text-align: center;
}

.logo {
  float: left;
  font-weight: bold;
  color: white;
  padding: 20px;
  text-align: left;
}

.navlinks {
  padding: 20px;
  float: right;
}

.navbar {
  display: flex;

}

.articles__list {
  display: grid;
  grid-template-areas: "article";
}

.articles__list__item__container {
  grid-area: "article";
}

.link {
  text-decoration: none;
  color: black;
}

.articles__list__item{
  background-color: white;
  margin: 15px 0px;
  padding: 15px 10px;
  display: grid;
  grid-template-areas: 
    'avatar username topic'
    'title title title'
    'votes comments read';
  text-align: left;
  }
  
  .articles__articleli__title {
    grid-area: title;
    padding: 2rem 0px 2rem;
    font-weight: bold;
}

.articles__articleli__topic {
  grid-area: topic;
}

.articles__articleli__votes {
  grid-area: votes;
}

.articles__articleli__comments {
  grid-area: read;
}

.articles__articleli__author {
  grid-area: avatar;
}

.topic__container {
  display: grid;
  grid-template-areas: "card";
}

.topic__card {
  grid: card;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.fullarticle {
  display: grid;
  grid-template-areas: 
  'user user'
  'timestamp timestamp'
  'divider divider'
  'title title'
  'body body'
  'likes comments'
  'commentBtn commentBtn';
  grid-template-columns: 50% 50%;

  background-color: white;
  border-radius: 30px;
  margin: 10px;
  padding: 3rem 1rem 3rem 1rem;
  text-align: left;
}

.article__author {
  text-align: left;
  grid-area: user;
}

.article__timestamp {
  text-align: left;
  grid-area: timestamp;
}

hr {
  grid-area: divider;
  border-top: 2px solid orangered;
  border-radius: 30px;
  color: orangered;
  width: 100px;
  margin-top: 1.5rem;
}

.article__title {
  text-align: center;
  grid-area: title;
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 25px;
  padding-bottom: 20px;
}

.article__bodytext {
  grid-area: body;
  font-size: 1.1rem;
  padding-top: 25px;
  padding-bottom: 20px;
}

.article__likes{
  grid-area: likes;
  padding-top: 25px;
  padding-bottom: 30px;
}

.article__commentcount {
  grid-area: comments;
  text-align: right;
  padding-top: 25px;
  padding-bottom: 30px;
}

.article__leaveCommentBtn {
  grid-area: commentBtn;
}






@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1{
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  
  .topic__container {
    grid-template-areas: "card card card";
    grid-template-columns: 33% 33% 33%;
  }

  .articles__list {
    display: grid;
    grid-template-areas: "article article";
    grid-template-columns: 50% 50%;
  }

  .articles__list__item {
    margin: 10px;
  }

  .fullarticle {
    display: grid;
    grid-template-areas: 
    'user user timestamp'
    'divider divider divider'
    'title title title'
    'body body body'
    'likes comments commentBtn';
    margin: 50px 120px;
    grid-template-columns: 33% 33% 33%;
  }

  .article__timestamp {
    text-align: right;
  }

  .article__commentcount {
    text-align: center;
  }

  .article__leaveCommentBtn {
    width: 9rem;
    height: 3rem;
  }
}

/* colour palette */
/* #FF1E00 orange
#E8F9FD white
#59CE8F green
#000000 black*/